titl { 
	color: blue; 
	font-family: impact  ; 
	font-weight: bold; 
	font-size: 100 ;
	text-transform: uppercase ;
	text-align: center
	}

h1 {
	color: white;
	background-color: black; 
	font-family: myriad pro; 
	font-size: 50 ;
	text-transform: uppercase; 
	text-align: center 
	}

h2 {
	color: blue;
	font-family: impact ; 
	font-weight: normal;
	font-size: 30 ;
	text-transform: lowercase
	}


p {
	color: black;
	font-family: myriad pro; 
	font-weight: normal;
	font-size: 22 ;
	text-transform: capitalize
	}

fieldset {
	color: black;
	font-family: myriad pro; 
	font-weight: normal;
	font-size: 22 ;
	text-transform: capitalize
	}

legend {
	color: black;
	font-family: myriad pro ; 
	font-weight: bold;
	font-size: 28 ;
	text-transform: uppercase
	}

thead {
	color: black;
	font-family: myriad pro; 
	font-weight: normal;
	font-size: 22 ;
	text-transform: uppercase ;
	letter-spacing: 0.1 em ;
	border-bottom: 5px solid blue ; 
	border-top: 5px solid blue ; 
	}
	
tbody {
	color: black;
	font-family: myriad pro; 
	font-weight: normal;
	font-size: 20 ;
	text-transform: capitalize;
	}

table {
	width: 600 px; 
}

th, td {
	
	padding: 7px 10px 10px 10px
}

li {
	color: black;
	font-family: myriad pro; 
	font-weight: normal;
	font-size: 24 ;
	text-transform: capitalize; 
	line-height: normal ;
	text-align: center
}
	
a {
	color: black;
	font-family: myriad pro; 
	font-weight: normal;
	font-size: 22 ;
	text-transform: capitalize

}

a:hover {
	color: red;
	font-family: myriad pro; 
	font-weight: normal;
	font-size: 22 ;
	text-transform: capitalize
		
}
	
figcaption {
	color: black;
	font-family: impact; 
	font-weight: lighter;
	font-size: 20 ;
	text-transform: uppercase ;

		
}

body {
	margin-left: 50px;
	margin-right: 50px; 
	margin-bottom: 80px; 
	margin-top: 50px ;
	background-color: silver ;
	padding: 20px ;
	text-align: center
 
	
}


	