titl { 
	color: fuchsia; 
	font-family: Curlz MT  ; 
	font-weight: bold; 
	font-size: 55 ;
	text-transform: uppercase ;
	text-align: center ;
	padding: 50 ;
	border-color: yellow ;
	border-style: dashed
	}

h1 {
	color: white;
	background-color: fuchsia;
	font-family: Curlz MT ; 
	font-size: 35 ;
	text-transform: capitalize; 
	text-align: center 
	}

h2 {
	color: yellow;
	font-family: Curlz MT  ; 
	font-weight: bold;
	font-size: 30 ;
	text-transform: capitalize
	}


p {
	color: black;
	font-family: noteworthy; 
	font-weight: normal;
	font-size: 22 ;
	text-transform: capitalize
	}

fieldset {
	color: black;
	font-family: noteworthy; 
	font-weight: normal;
	font-size: 22 ;
	text-transform: capitalize
	}

legend {
	color: black;
	font-family: noteworthy ; 
	font-weight: bold;
	font-size: 28 ;
	text-transform: uppercase
	}

thead {
	color: black;
	font-family: Curlz MT ; 
	font-weight: normal;
	font-size: 22 ;
	text-transform: uppercase ;
	letter-spacing: 0.1 em ;
	border-bottom: 5px solid blue ; 
	border-top: 5px solid blue ; 
	}
	
tbody {
	color: black;
	font-family: noteworthy; 
	font-weight: normal;
	font-size: 20 ;
	text-transform: capitalize;
	}

table {
	width: 600 px; 
}

th, td {
	
	padding: 7px 10px 10px 10px
}

li {
	color: black;
	font-family: noteworthy; 
	font-weight: normal;
	font-size: 18 ;
	text-transform: lowercase; 
	line-height: normal ;
}
	
a {
	color: black;
	font-family: noteworthy; 
	font-weight: normal;
	font-size: 22 ;
	text-transform: capitalize

}

a:hover {
	color: yellow;
	font-family: noteworthy; 
	font-weight: normal;
	font-size: 22 ;
	text-transform: capitalize
		
}
	
figcaption {
	color: black;
	font-family: noteworthy; 
	font-weight: lighter;
	font-size: 20 ;
	text-transform: uppercase ;

		
}

body {
	margin-left: 50px;
	margin-right: 50px; 
	margin-bottom: 80px; 
	margin-top: 50px ;
	background-image: url(nxClv0S.jpg); 
	padding: 20px ;
 
	
}


	